<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <!--RouterLink helps us navigate between routes, like ui-sref -->
      <a mat-list-item routerLink="menu/mainForm">Form Examples</a>
      <a mat-list-item routerLink="menu/dataBinding">Data Binding Example</a>
      <a mat-list-item routerLink="menu/communication">Component Communication</a>
      <a mat-list-item routerLink="menu/observables">Directives and Observables</a>
      <a mat-list-item routerLink="menu/guards">Guard Examples</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style= "background-color: #405061; color: white">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>tutorial-app</span>
    </mat-toolbar>
    <!-- Add Content Here -->
      
    <!--
    RouterOutlet acts as a placeholder that Angular dynamically fills based on the current router state.
    -->
	<router-outlet></router-outlet>
      
  </mat-sidenav-content>
</mat-sidenav-container>
